p {
    text-align: center;
    font-family: monospace;
    font-weight: 700;
    font-size: 2em;
}

main {
    width: 800px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.container_1 {
    width: 800px;
    /*    height: 200px;*/
    font-size: 0px;
}

.green-and-blue {
    text-align: center;
    width: 400px;
    height: 200px;
    display: inline-block;
    border: 1px solid black;
}

.green-box {
    background-color: green;
}

.blue-box {
    background-color: blue;
}

.container_2 {
    font-size: 0px;
}

.gray-box,
.black-box,
.yellow-box {
    height: 300px;
    width: 33.33%;
    display: inline-block;
    border: 1px solid black;
}

.gray-box {
    background-color: gray;
}

.black-box {
    background-color: black;
}

.yellow-box {
    background-color: yellow;
}
