body {
    background: url(../images/outerspace_landscape.jpeg) no-repeat;
    background-size: cover;
}

.nav-bar {
    padding-left: 60px;
    background-color: gray;
    margin-bottom: 200px;
    height: 65px;
}

.cat-logo {
    position: absolute;
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

nav ul {
    list-style-type: none;
    margin-left: 50px;
    padding-top: 20px;
    display: inline-block
}

ul li {
    display: inline-flex;
}

a:visited {
    color: black;
}

a:link {
    color: black
}

main {
    border: 10px dotted green;
    width: 600px;
    height: 300px;
    margin: auto;
}

.space-cat,
.space-dog {
    height: 200px;
    width: 200px;
}

.space-cat {
    position: relative;
    right: 100px;
    bottom: 100px;
}

.space-dog {
    position: relative;
    left: 243px;
    top: 219px;
}
